@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(-200%);
  position: relative;
  top: 50%;
  transition: transform 1000ms ease-in-out;
}

.ReactModal__Content--after-open {
  transform: translateY(-50%);
}

.ReactModal__Content--before-close {
  transform: translateY(-200%);
}
